.menu-bar-container {
  background-color: #036e02;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 12px;

  .flex-1 {
    flex: 1;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
  }

  .menu-actions {
    --mdc-text-button-label-text-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@media (max-width: 531px) {
  .menu-bar-container {
    background-color: #036e02;
    .empty-space {
      display: none;
    }
  }
}
