.mt-15 {
  margin-top: 15px;
}
mat-divider {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
