<h4 mat-dialog-title>Edit Jot</h4>

<mat-dialog-content class="dialogContentContainer">
    <mat-form-field class="titleInput">
        <mat-label>
            Title
        </mat-label>
        <input type="text" matInput placeholder="Title.." [formControl]="formTitle">
        @if (formTitle.invalid) {
        <mat-error>{{titleErrorMessage()}}</mat-error>
        }
    </mat-form-field>
    <mat-form-field class="contentInput">
        <mat-label>Jot here</mat-label>
        <textarea matInput placeholder="Content..." [formControl]="formBody"></textarea>
        @if (formTitle.invalid) {
        <mat-error>{{titleErrorMessage()}}</mat-error>
        }
    </mat-form-field>
    {{this.data.dateTime}}
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-flat-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button (click)="onSubmit()"
        [disabled]="isNotEdited() || formTitle.invalid || formBody.invalid">Edit</button>
</mat-dialog-actions>